h1{
    color: white;
}

html , body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    background-image: url("paradise.jpg");
    background-repeat: no-repeat;
    background-size: cover;


}
 h1{
     border: 2px solid blue;
     color: white;
     font-size: 80px;
 }